:root {
    --first_color: #c92a2a ;
    --second_color: #a61e4d ;
    --third_color: #364fc7;
  }


h1 {
  color:  var(--first_color)
}
h2 {
    color:  var(--second_color)
}
.first, .second {
    color: var(--third_color)
}
.second {
    border-bottom: 1px solid var(--second_color);
}