body {
    background: #eee;
    font-family: sans-serif;
    border: 1px solid black;
    padding: 38px;
    text-transform: uppercase;
    font-weight: bold;
    width: 500px;
    height: auto;
    
  }
  
  .card {
    width: 400px;
    height: auto;
    background: #fff;
    margin: 16px auto;
    border: 1px solid black;
    padding: 8px;
  }
  
  .title {
    background: #e3f4ff;
    border: 1px solid black;
    padding: 16px;
    font-size: 1rem;
    margin: 8px;

  }
  
  .content {
    background: #e3f4ff;
    border: 1px solid black;

    margin: 8px;
    padding: 16px;
  }
  
  .button-container {
    background: #e3f4ff;
    border: 1px solid black;
    padding-top: 8px;
    margin: 8px;
    text-align: center;

    
  }
  
  button {
    display: block;
    background: white;
    border: 1px solid black ;
    font-weight: bold;
    padding: 5px;
    display: block;
    margin:auto;
    
    
  }



  /* - Hay 8px entre el borde de la carta y su contenido (las secciones azules). x
- Hay un hueco de 8px entre las diferentes secciones azules.
- El titulo de la carta (la primera sección azul) tiene un tamaño de fuente de 16px.
- Hay 8px entre el titulo y el borde de dicha sección.
- La sección del medio tiene un espacio de 16px entre la parte superior y la inferior, y 8px a ambos lados.
- Todo dentro del .button-container está centrado con 8px de padding.
- El botón está centrado en su propia posición y tiene 24px de espacio a los lados, y 8px arriba y abajo. */